/* Set body background color to light green */
body {
    background-color: #b3ffb3;
  }
  
  /* Set the color of the heading text to dark green */
  h3 {
    color: #006600;
  }
  
  /* Set the color of the paragraph text to a darker shade of green */
  p {
    color: #003300;
  }
  
  /* Style the buttons */
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Style the navigation link */
  nav a {
    color: #006600;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 16px;
  }
  
  /* Add a hover effect to the navigation link */
  nav a:hover {
    background-color: #006600;
    color: white;
  }
  