/* set body background color to a light green */
body {
    background-color: #f0fff0;
  }
  
  /* style header and navigation */
  header {
    background-color: #008000;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  
  nav {
    display: inline-block;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #008000;
  }
  
  /* style the h1 */
  h1 {
    font-size: 48px;
    color: #008000;
    text-align: center;
    margin-top: 50px;
  }
  
  /* style the list items */
  li {
    margin-bottom: 50px;
  }
  
  /* style the university names */
  h3 {
    font-size: 36px;
    color: #008000;
    margin-bottom: 10px;
  }
  
  /* style the paragraphs */
  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  /* style the website links */
  a {
    color: #008000;
    text-decoration: none;
    border: 2px solid #008000;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
    background-color: #008000;
    color: #fff;
  }
  
  /* style the list bullets */
  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  /* add a box shadow to the list items on hover */
  li:hover {
    box-shadow: 0px 0px 10px 2px #008000;
  }
  