/* Global styles */
body {
	background-color: #eaf8f2;
	font-family: Arial, sans-serif;
}

/* Header styles */
header {
	background-color: #2e8b57;
	color: #eaf8f2;
	padding: 10px;
}

nav a {
	color: #eaf8f2;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

/* Main content styles */
h1 {
	color: #2e8b57;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	background-color: #c1e1c2;
	color: #2e8b57;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 0;
}